<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591005634293-hltl363p4cct3nmpclc7i2h8gfkgv4du.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591005634293-hltl363p4cct3nmpclc7i2h8gfkgv4du</string>
	<key>API_KEY</key>
	<string>AIzaSyA_JBM9ZZxwSeym0ComDEqKEdGGSaqE7No</string>
	<key>GCM_SENDER_ID</key>
	<string>591005634293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myApp200928</string>
	<key>PROJECT_ID</key>
	<string>memo-app20</string>
	<key>STORAGE_BUCKET</key>
	<string>memo-app20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591005634293:ios:c23852262f5e1874137fbc</string>
	<key>DATABASE_URL</key>
	<string>https://memo-app20.firebaseio.com</string>
</dict>
</plist>